html,
body {
    margin: 0;
    padding: 0;
}

.body_under_nav {
    display: flex;

}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgb(158, 149, 149);
    border-color: var(--bs-btn-hover-border-color);
    border: none;
}



.side_bar {
    width: 5%;
    height: 100vh;
    margin-left: 4px;
    position: fixed;
    overflow: scroll;
}

.side_bar a {
    text-decoration: none;
}

.aside_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12%;
    font-size: 12px;
    color: black;
    border-radius: 10px;
  
}

.aside_buttons:hover {
    background-color: #f2f2f2;
}


.top_scrolling_bar {
    align-items: center;
    overflow-x: auto;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
    padding: 10px;


}

.w-50 {
    width: 79%!important;
}
.nav {
    display: flex;
    flex-wrap: nowrap;
}

.nav-link {
    white-space: nowrap;
    border-radius: var(--bs-nav-pills-border-radius);
    color: black;

}

.nav-item {
    background-color: #f2f2f2;
    border-radius: 6px;
}

.nav-item:hover {
    background-color: #ededed;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #ffffff;
    --bs-nav-pills-link-active-bg: black;
}

.nav-link:hover {
    color: #000000;
}

aside::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.body_section {
    width: 94%;
    padding-left: 6%;
    align-items: center;
}


.youtube_video_body {
    padding-top: 100px;
    overflow: hidden;
    margin: 20px;


}


.card iframe {
    width: 100%;
    height: 200px;

    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    padding: 15px;
    
}

.card-title {
    font-size: 16px;

    margin-bottom: 10px;

}

.card-text {
    font-size: 14px;

    color: #555;
}

.card {
    /* width: auto; */
  
    border: solid 1px white;
    margin-bottom: 20px;
    height: 100%;
 
}




 
.card iframe:hover{
  
    border-radius: 0px;
    transition: 1.5s;
}